# How often, in minutes, to poll logger when running persistently
# interval=60

###
# Settings below can be overriden for each logger if desired
###
# number of days to backfill
# backfill=2

# Should I quite CSV fields?
# quoteFields=false

# Where to put the CSV files.
# pathRoot=data

# How to name data files
# filePathFormat=yyyy/
# fileSuffixFormat=-yyyyDDD

# filePathFormat=yyyy/MM
# fileSuffixFormat=-yyyyMMdd

# csvFormat=RFC4180

# commentChar=#

# csvDateFormat=yyyy-MM-dd'T'HH:mm:ss.SSS

# if unspecified, the logger date format will be used.
# loggerDateFormat=yyyy MM/dd hh:mm:ss

###
# logger stanzas
###

# Example station stanza for a CampbellScientific logger
# The table directive is specific to this type of logger
station=AUSS
AUSS.address=198.18.17.42
AUSS.table=ChemData_Sec2
AUSS.table=Wx_Min1
