/*
 * I waive copyright and related rights in the this work worldwide
 * through the CC0 1.0 Universal public domain dedication.
 * https://creativecommons.org/publicdomain/zero/1.0/legalcode
 */

package gov.usgs.volcanoes.logger2csv;

public final class Version {

    public static final String BUILD_TIME="@buildtime@";

    public static final String POM_VERSION="@pomversion@";

	public static final String VERSION_STRING = "Version: " + POM_VERSION + " Built: " + BUILD_TIME;
}