# Where to put the CSV files.
# pathRoot=data

# How often, in minutes, to poll logger when running persistently
# interval=60

###
# Settings below can be overriden for each logger if desired
###
# number of days to backfill
# backfill=2

# How to name data files
# filePathFormat=yyyy/
# fileSuffixFormat=-yyyyDDD

# filePathFormat=yyyy/MM
# fileSuffixFormat=-yyyyMMdd

###
# logger stanzas
###

# Example station stanza
station=AUSS
AUSS.address=127.0.0.1:8081
AUSS.table=ChemData_Sec2
AUSS.table=Wx_Min1